tf-venv
.venv
__pycache__/
*.pyc

# Backend
backend/labels.json
backend/leaderboard.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.idea/
.vscode/

# all model except the prod one
model/*
!model/*prod*

# docker compose (it is for vps)
docker-compose.prod.yml
